apiVersion: v1
kind: Service
metadata:
  name: deis-registry
  namespace: deis
  labels:
    heritage: deis
spec:
  ports:
    - name: http
      port: 5000
      protocol: TCP
  selector:
    name: deis-registry
